.headerContainer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  cursor: pointer;
}
.logoSec {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  gap: 0;
}
.categorySec {
  margin-right: 50px;
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  font-size: 17px;
  opacity: 0.8;
}
.logoSec img {
  width: 70px;
  height: 80%;
  object-fit: cover;
}
.logoSec h1 {
  font-size: 25px;
  opacity: 0.8;
}
.categoryContainer{
  display: flex;
  gap: 25px;
}
.hamburgerMenu{
  display: none;
}
.popUpMenu{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #252525;
  margin-top: 140px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.popUpMenu p{
  margin-left: 10px;
}
.invisible{
  display: none;
}

@media screen and (max-width:768px){
  .categoryContainer{
    visibility: hidden;
  }
  .categorySec{
    gap: 10px;
    margin-right: 10px;
  }
  .hamburgerMenu{
    display: block;
  }
  
}