.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.carouselContainer {
  width: auto;
  height: 450px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 25px;
}
.carouselCard {
  width: 250px;
  height: 100%;
  position: relative;
  flex: 0 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}
.cardImage{
  width: 100%;
  height: 350px;
  transition: opacity 0.5s; 
}
.cardImage:hover {
  opacity: 0.5;
}
.carouselCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  opacity: 1;
}
.carouselCard h3{
  margin-top: 30px;
  font-size: 15px;
}
.date{
  opacity: 0.4;
  margin-top: 10px;
}
.ratingCircle{
  width: 50px;
  height: 50px;
  bottom: 80px;
  background-color:white;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
@media screen and (max-width:1200px) {
  .carouselContainer {
    height: 400px;
    gap: 25px;
  }
  .carouselCard {
    width: 220px;
  }
  .cardImage{
    height: 320px;
  }
  .carouselCard h3{
    margin-top: 20px;
    font-size: 15px;
  }
  .carouselCard p{
    font-size: 15px;
  }
  .ratingCircle{
    width: 50px;
    height: 50px;
    bottom: 80px;
  }
}
@media screen and (max-width:777px) {
  .carouselContainer {
    height: 350px;
    gap: 20px;
  }
  .carouselCard {
    width: 180px;
  }
  .cardImage{
    height: 280px;
  }
  .carouselCard h3{
    margin-top: 15px;
    font-size: 12px;
  }
  .carouselCard p{
    font-size: 12px;
  }
  .ratingCircle{
    width: 35px;
    height: 35px;
    bottom: 70px;
  }
}
@media screen and (max-width:530px) {
  .carouselContainer {
    height: 300px;
    gap: 15px;
  }
  .carouselCard {
    width: 150px;
  }
  .cardImage{
    height: 220px;
  }
  .carouselCard h3{
    margin-top: 15px;
    font-size: 10px;
  }
  .carouselCard p{
    font-size: 10px;
  }
  .ratingCircle{
    width: 25px;
    height: 25px;
    bottom: 65px;
  }
}